/*************************************************************/
/*MAIN PAGE STRUCTURE*****************************************/
/*************************************************************/
body {
    background-color: #fffdf7;
}

/*************************************************************/
/*LOGO HEADER STUFF*******************************************/
/*************************************************************/
.logo-header{
    text-align: center;
    margin-top: 30px;
}

.logo{
    width: 200px;
    height: auto;
}


/*************************************************************/
/*NAVBAR******************************************************/
/*************************************************************/
.navbar{
    display: block;
    text-align: center;
}

.navbar a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 14px 14px;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.navbar a.active span{
    border-bottom: black solid 1px;
    padding-bottom: 4px; /*space between words and line*/
}

/*************************************************************/
/*CATEGORY SELECTION******************************************/
/*************************************************************/
/*For checkbox controls, go to checkbox.css*/

/*Container controls*/
.category-selection{
    text-align: center;
    margin-top: 50px;
}

/*Text style*/
.category-selection label{
    font-family: Quicksand, sans-serif;
    font-size: 0.9em;
    user-select: none;
}

/*************************************************************/
/*ART GALLLERY************************************************/
/*************************************************************/
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
    padding: 0 4vw;
    box-sizing: border-box;
}

.artItem-div{
    max-width: 300px;
    max-height: 500px; /*CHECK THIS CAUSE WTH***************************************************************************************************/
    overflow: hidden;
    position: relative;
    object-fit: contain;
    flex-shrink: 0;
}

.artItem-div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/*Goofy image style*/
#okayDontChoose{
    display: block;
    text-align: center;
}

#okayDontChoose img{
    width: 300px;
    height: 500px;
}

/***********************************************************************************************************************/
/*RESPONSIVENESS (DEVICE SIZE ADJUSTMENT)*********************/
/*************************************************************/
/*Tablets and below*/
@media (max-width: 768px) {
    .logo{
        width: 100px;
    }
}

/*Phones*/
@media (max-width: 480px) {
    .logo{
        width: 80px;
    }
}