/*************************************************************/
/*MAIN PAGE STRUCTURE*****************************************/
/*************************************************************/
body {
    background-color: #fffdf7;
}

/*************************************************************/
/*LOGO HEADER STUFF*******************************************/
/*************************************************************/
.logo-header{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    user-select: none;
}

.logo{
    width: 200px;
    height: auto;
}

/*************************************************************/
/*NAVBAR******************************************************/
/*************************************************************/
.navbar{
    display: block;
    text-align: center;
    user-select: none;
}

.navbar a{
    display: inline-block;
    color: black;
    text-decoration: none;
    padding: 14px 14px;
    font-family: Quicksand, sans-serif;
    font-weight: bold;
    font-size: 1.1em;
}

.navbar a.active span{
    border-bottom: black solid 1px;
    padding-bottom: 4px; /*space between words and line*/
}

/*************************************************************/
/*CATEGORY SELECTION******************************************/
/*************************************************************/
/*For checkbox controls, go to checkbox.css*/

/*Container controls*/
.category-selection{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 70px;
    user-select: none;
}

/*Text style*/
.category-selection label{
    font-family: Quicksand, sans-serif;
    font-size: 0.9em;
}

/*************************************************************/
/*ART GALLLERY************************************************/
/*************************************************************/
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 0 4vw;
    box-sizing: border-box;
    justify-content: center;
    user-select: none;
}

.artItem-div {
    aspect-ratio: 3.5 / 5;
    overflow: hidden;
    position: relative;
}

.artItem-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.artItem-div img:hover {
    cursor: zoom-in;
}

/*Goofy image style*/
#okayDontChoose{
    display: block;
    text-align: center;
}

#okayDontChoose img{
    width: 300px;
    height: 500px;
}

/***********************************************************************************************************************/
/*RESPONSIVENESS (DEVICE SIZE ADJUSTMENT)*********************/
/*************************************************************/
/*Tablets and below*/
@media (max-width: 768px) {
    .logo{
        width: 100px;
    }
}

/*Phones*/
@media (max-width: 480px) {
    .logo{
        width: 80px;
    }

    .navbar{
        display: none;
    }
}